<!DOCTYPE html>
<html>
  <head>
    <title>Roomies</title>
    <h1>Roomies</h1>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

  </head>
  <body>
    <div class="container">
      <h3 align="right"><a href="/task/create">Add Task</a></h3>
      <h1>Tasks List</h1>
      <% if(tasks.length>0) { %>
      <table>
        <thead>
          <tr>
            <th> Title</th>
            <th> Content</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<tasks.length;i++) { %>
            <tr>
              <td><a href="/task/<%= tasks[i]._id%>"><%= tasks[i].title%></a></td>
              <td><%= tasks[i].content%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No tasks found.</div>
      <% } %>
    </div>
  </body>
</html>
