<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h3><a href="/">Tasks List</a></h3>
      <h1>Task</h1>
      <table>
        <tbody>
          <tr>
            <td>Title</td>
            <td>:</td>
            <td><%= task.title %></td>
          </tr>
          <tr>
            <td>Content</td>
            <td>:</td>
            <td><%= task.content %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/task/<%= task._id%>/edit">EDIT</a></h3>
      <form action="/tasks/delete/<%= task._id%>/" method="post">
        <button type="submit">Mark Task as Complete</button>
      </form>
      <form action="/tasks/update/:taskId/comments" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      {{#each post.comments}}
      <p>{{this.content}}</p>
    {{/each}}
    </div>
  </body>
</html>
